body{
    margin: 0px;
}

main{
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(78, 94, 237);
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}

.navbar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(32, 53, 246);
}